In [3]:
import pandas as pd
import numpy as np
df = pd.DataFrame()

In [4]:
df['age'] = np.linspace(18, 89)

In [6]:
df['age2'] = df['age']**2

In [7]:
df

          age         age2
0   18.000000   324.000000
1   19.448980   378.262807
2   20.897959   436.724698
3   22.346939   499.385673
4   23.795918   566.245731
5   25.244898   637.304873
6   26.693878   712.563099
7   28.142857   792.020408
8   29.591837   875.676801
9   31.040816   963.532278
10  32.489796  1055.586839
11  33.938776  1151.840483
12  35.387755  1252.293211
13  36.836735  1356.945023
14  38.285714  1465.795918
15  39.734694  1578.845898
16  41.183673  1696.094960
17  42.632653  1817.543107
18  44.081633  1943.190337
19  45.530612  2073.036651
20  46.979592  2207.082049
21  48.428571  2345.326531
22  49.877551  2487.770096
23  51.326531  2634.412745
24  52.775510  2785.254477
25  54.224490  2940.295294
26  55.673469  3099.535194
27  57.122449  3262.974177
28  58.571429  3430.612245
29  60.020408  3602.449396
30  61.469388  3778.485631
31  62.918367  3958.720950
32  64.367347  4143.155352
33  65.816327  4331.788838
34  67.265306  4524.621408
35  68.714286  4721.653061
36  70.163265  4922.883798
37  71.612245  5128.313619
38  73.061224  5337.942524
39  74.510204  5551.770512
40  75.959184  5769.797584
41  77.408163  5992.023740
42  78.857143  6218.448980
43  80.306122  6449.073303
44  81.755102  6683.896710
45  83.204082  6922.919200
46  84.653061  7166.140775
47  86.102041  7413.561433
48  87.551020  7665.181175
49  89.000000  7921.000000

In [8]:
df['educ'] = 12
df['educ2'] = df['educ']**2

In [10]:
df
df['sex'] = 1

In [11]:
df

          age         age2  educ  educ2  sex
0   18.000000   324.000000    12    144    1
1   19.448980   378.262807    12    144    1
2   20.897959   436.724698    12    144    1
3   22.346939   499.385673    12    144    1
4   23.795918   566.245731    12    144    1
5   25.244898   637.304873    12    144    1
6   26.693878   712.563099    12    144    1
7   28.142857   792.020408    12    144    1
8   29.591837   875.676801    12    144    1
9   31.040816   963.532278    12    144    1
10  32.489796  1055.586839    12    144    1
11  33.938776  1151.840483    12    144    1
12  35.387755  1252.293211    12    144    1
13  36.836735  1356.945023    12    144    1
14  38.285714  1465.795918    12    144    1
15  39.734694  1578.845898    12    144    1
16  41.183673  1696.094960    12    144    1
17  42.632653  1817.543107    12    144    1
18  44.081633  1943.190337    12    144    1
19  45.530612  2073.036651    12    144    1
20  46.979592  2207.082049    12    144    1
21  48.428571  2345.326531    12    144    1
22  49.877551  2487.770096    12    144    1
23  51.326531  2634.412745    12    144    1
24  52.775510  2785.254477    12    144    1
25  54.224490  2940.295294    12    144    1
26  55.673469  3099.535194    12    144    1
27  57.122449  3262.974177    12    144    1
28  58.571429  3430.612245    12    144    1
29  60.020408  3602.449396    12    144    1
30  61.469388  3778.485631    12    144    1
31  62.918367  3958.720950    12    144    1
32  64.367347  4143.155352    12    144    1
33  65.816327  4331.788838    12    144    1
34  67.265306  4524.621408    12    144    1
35  68.714286  4721.653061    12    144    1
36  70.163265  4922.883798    12    144    1
37  71.612245  5128.313619    12    144    1
38  73.061224  5337.942524    12    144    1
39  74.510204  5551.770512    12    144    1
40  75.959184  5769.797584    12    144    1
41  77.408163  5992.023740    12    144    1
42  78.857143  6218.448980    12    144    1
43  80.306122  6449.073303    12    144    1
44  81.755102  6683.896710    12    144    1
45  83.204082  6922.919200    12    144    1
46  84.653061  7166.140775    12    144    1
47  86.102041  7413.561433    12    144    1
48  87.551020  7665.181175    12    144    1
49  89.000000  7921.000000    12    144    1

In [12]:
results.predict(df)

NameError: name 'results' is not defined